<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var cheese in ViewBag.cheeses)
    {
        <input type="checkbox" name="cheeseIds" id="@cheese.ID" value="@cheese.ID" /> 
        <label for="@cheese.ID">@cheese.Name</label>
        <br />
    }

    <input type="submit" value="Remove Selected Cheese(s)" />
</form>

<p></p>

<p><a asp-controller="Cheese" asp-action="Index">Cheese List</a></p>
<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>